/* section pertama */
.hero {
    background-image: url('../assets/img/thumbnail-2.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;

}
.nav-right {
    align-items: flex-end;
    display: flex;
    flex-direction: column; 

}
.heading3 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
}
/* section kedua */
.secondary-hero {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
   
 }
 .upper-text,.all-desc-content, .all-desc-content h3,.all-desc-content ul li{
    color: white;
    font-family: "Roboto Flex";
 }
 .all-desc-content h3{
    font-size: 2rem;
    padding-bottom: 20px;
 }

 .container-secondary-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
 }
 .upper-text{
     font-size: 50px;
    font-weight: 600;
 }
 .all-desc-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    gap: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

 }
 /* section ketiga */
.third-hero{
  background-color: #95ff8d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-mid{
    text-align: center;
    font-size: 2.5rem;
    line-height: 5rem;
}

.above-title-mid p{
    font-family: "Roboto Flex";
    padding:10px 20px;
    font-weight: 500;
}
.all-button-content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-content{
    margin-right: 20px;
}
button{
    border-radius: 20px;
    padding: 10px 20px;
    font-family: "Roboto Flex";
    background-color:#524e4e ;
    border-style: none;
    color: #95ff8d;
    cursor: pointer;
}
.footer{
    background-image: url(/assets/img/footer.png) ;
    height: 100vh;
    flex-direction: column;
   justify-content: space-between;
}
.text-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper-section{
     display: grid;
     grid-template-columns: 1fr 1.3fr;
}

.upper-content1 span,.upper-content1 p,.upper-content2 p{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 12px;
}
.upper-content1,.upper-content2 {
    padding:20px 20px;
}


.social-button{
    padding:0px 0px;
}
.footer-section{
   color: white;
   font-size: 4rem;
   text-align: bottom;
   display: flex;
   

   
}